[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
pyarrow = "*"
evidently = "*"
scikit-learn = "==1.2.2"
python-dateutil = "*"
prefect = "==2.10.4"

[dev-packages]

[requires]
python_version = "3.9"
